<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="dbconn" connectionString="Data Source=192.168.62.14\SQLSEVER2014,1433;Initial Catalog=weberp;Persist Security Info=True;User ID=sa;Password=1qaz@wsx"
     providerName="System.Data.SqlClient" />

  <!--<add name="dbconn" connectionString="Data Source=.\SQLSERVER2014,1433;Initial Catalog=DBTEACHER;Persist Security Info=True;User ID=teacher;Password=teacher"
    providerName="System.Data.SqlClient" />-->
  
</connectionStrings>
