<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系統名稱-->
  <add key="AppName" value="勞動部職訓局 ERP 管理系統 v3.0" />
  <!--除錯模式 , =1 為不管權限問題-->
  <add key="DebugMode" value="1" />
  <!--頁尾設定 可用 <%$ AppSettings: footer1 %> 呼叫-->
  <add key="Footer1" value="勞動部勞動力發展署桃竹苗分署" />
  <add key="Footer2" value="電話：(03)4855368　傳真：(03)4881210 #123 地址：32605 楊梅區秀才路851號" />
  <add key="Footer3" value="桃竹苗分署網站 Inc. All Rights Reserved"/>
</appSettings>
